*.mpf
Array/*
*.mti
*.wlf
*.qpf
*.qsf
*_info
*.qdb
*.qpg
*.qtl
_vmake
*.rdb
*.qmsg
*.hdb
*.flock
*.sci
Acceleration_array.smart_action.txt
*.ddb
*.rpt
*.summary
*.bak
*.qws
db/*
incremental_db/*
output_files/*
*.pyc
__pycache__/Binary_translator.cpython-36.pyc
__pycache__/Array_level.cpython-36.pyc
Array_project/incremental_db*
Array_project/db*
Array_project/output_files*
Array_project/Acceleration_array.fit.smsg
Array_project/bitstream info.txt
signal_writer.py
result.txt
*.ini
*/precision_work/*
*.log
*transcript